{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <h2>
                <button class="btn btn-danger" ng-click="test()">
                    POST
                </button>
            </h2>
        </div>
    </div>
</div>
{% endblock %}